@import "../../../themes/theme";

:host{
	$height:130px;

	#weather-current{
	    vertical-align: middle;
	    text-align: center;
	    padding-bottom:30px;

	    #weather{
	        height: 80px; line-height: 80px;
	        vertical-align: middle;
	    }
	    #values{

	        i{
	            font-size: 30px;
	            color:$color-secondary;
	            margin-right: 10px;
	        }
	        color:$color-secondary;
	        font-weight: bold;
	        font-size: 30px;
	    }
	}

	#weather-chart{
	    margin-top: 30px;
	    background-color: $color-primary;
	}

	.weather-tab-button{
	    text-align: center;
	}

}
